.joms-stream,
.joms-sidebar,
.joms-media,
.joms-media--video,
#community-wrap {
  border: 1px solid #59ad5e !important;
}
.joms-body > .joms-sidebar > div {
  border-bottom: 1px solid #59ad5e !important;
}
.joms-body {
  display: block;
}
.joms-body a {
  color: #000000;
}
.joms-body a:hover {
  color: #000000;
}
.cProfile .joms-body > .joms-main {
  width: 100%;
}
.jomsocial-wrapper .jomsocial {
  padding: 0;
}
.jomsocial-wrapper .jomsocial .joms-focus__link {
  background: #5eb663;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.jomsocial-wrapper .jomsocial .joms-focus__link:before {
  background: transparent;
}
.jomsocial-wrapper .joms-landing.has-image {
  border-bottom: 0;
  position: relative;
}
.jomsocial-wrapper .joms-landing.has-image:before {
  content: "";
  background: #5eb663;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  transition: 900ms all;
}
.jomsocial-wrapper .joms-landing.has-image:hover:before {
  opacity: 0;
}
.jomsocial-wrapper .joms-landing__action {
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .jomsocial-wrapper .joms-landing__action {
    border: 1px solid #59ad5e;
  }
}
@media (max-width: 991px) {
  .jomsocial-wrapper .joms-landing__action {
    border: 1px solid #59ad5e;
    min-height: 500px;
  }
}
.joms-landing .joms-landing__action #form-login .joms-input--append > span {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.joms-stream__wrapper .joms-load-latest {
  background: #5eb663;
  border: 1px solid #59ad5e;
  border-bottom: 0;
}
.joms-stream__wrapper .joms-load-latest:hover {
  background: rgba(255, 255, 255, 0.05);
}
.joms-stream__wrapper .joms-load-latest:hover a {
  color: #000000;
}
.joms-button--signup {
  color: #000000 !important;
}
.joms-button--signup:hover,
.joms-button--signup:focus {
  color: #000000 !important;
}
.joms-button--privacy {
  background: transparent;
  border: transparent;
  box-shadow: none;
}
.joms-button--privacy:hover {
  background: transparent;
}
.joms-button--privacy svg {
  fill: #000000;
}
.joms-button--privacy svg:hover {
  fill: #000000;
}
.joms-tab__bar {
  border: transparent !important;
}
.joms-tab__bar a {
  color: #000000;
  background: rgba(255, 255, 255, 0.05);
}
.joms-avatar img,
.joms-avatar--stream a img {
  background: transparent;
  border: 1px solid #59ad5e;
  padding: 6px;
}
.joms-online a:after {
  z-index: 0;
}
.joms-list--thumbnail .joms-avatar a img {
  border: 0;
  padding: 0;
}
.joms-stream__meta .joms-stream__user,
.joms-stream__meta > a:first-child {
  color: #000000;
}
.joms-stream__meta .joms-stream__user:hover,
.joms-stream__meta > a:first-child:hover {
  color: #000000;
}
.joms-stream__status {
  background-color: transparent;
  border-top: 1px solid #59ad5e;
  color: #000000;
}
.joms-module .joms-media--event .joms-media__body .reset-gap a {
  color: #000000;
}
.joms-media__body h4 {
  color: #000000;
}
.joms-toolbar--desktop {
  z-index: 1;
  background: #5eb663 !important;
  border-bottom: 1px solid #59ad5e;
}
.joms-toolbar--desktop svg {
  fill: #000000 !important;
}
.joms-toolbar--desktop > ul > li > a {
  color: #000000;
}
.joms-toolbar--desktop > ul > li:hover > a {
  color: #000000;
}
.joms-toolbar--desktop > ul > li:hover svg {
  fill: #000000 !important;
}
.joms-toolbar {
  background: #5eb663;
  border: 0;
}
@media (max-width: 991px) {
  .joms-toolbar ul {
    border-bottom: 1px solid #59ad5e;
  }
}
.joms-toolbar li {
  border-right: 1px solid #59ad5e;
}
.joms-toolbar li span svg,
.joms-toolbar li a svg {
  fill: #000000 !important;
}
.joms-toolbar li:first-child {
  border-right: 1px solid #59ad5e !important;
}
.joms-toolbar li:hover,
.joms-toolbar li:focus {
  background-color: #000000 !important;
}
.joms-toolbar li:hover svg,
.joms-toolbar li:focus svg {
  fill: #000000 !important;
}
.joms-postbox {
  border-color: #59ad5e;
  background: transparent;
}
.joms-postbox-content {
  background: transparent;
}
.joms-postbox-tab {
  border-color: #59ad5e !important;
  box-shadow: 0 1px 0 #59ad5e !important;
}
@media (max-width: 767px) {
  .joms-postbox-tab .joms-postbox-action {
    position: inherit !important;
    right: 20px !important;
  }
}
.joms-postbox-tab ul.joms-list li {
  background-color: transparent !important;
}
.joms-postbox-tab ul.joms-list li svg {
  fill: #000000 !important;
}
.joms-postbox .joms-postbox-input .inputbox .input-status {
  color: #000000;
}
.joms-postbox-input {
  background-color: rgba(255, 255, 255, 0.05);
}
.joms-postbox-tab {
  background: rgba(255, 255, 255, 0.05) !important;
}
.joms-postbox-action .joms-postbox-cancel {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-color: #59ad5e !important;
  color: #000000 !important;
}
.joms-postbox-action .joms-postbox-cancel:hover,
.joms-postbox-action .joms-postbox-cancel:focus {
  color: #000000 !important;
}
.joms-postbox-action .joms-postbox-save:hover,
.joms-postbox-action .joms-postbox-save:focus {
  background: #000000 !important;
}
.joms-activity-filter-dropdown {
  background: #5eb663 !important;
  border: 1px solid #59ad5e !important;
}
.joms-activity-filter-dropdown li {
  color: #000000;
}
.joms-activity-filter-dropdown li:hover {
  background-color: transparent;
  color: #000000;
}
.joms-activity-filter-dropdown li:hover svg {
  fill: #000000;
}
.joms-activity-filter-dropdown li svg {
  fill: #000000;
}
.joms-activity-filter-dropdown li.active {
  background: transparent !important;
  color: #000000;
}
.joms-activity-filter-dropdown li.active svg {
  fill: #000000;
}
.joms-activity-filter-dropdown .joms-select--wrapper,
.joms-activity-filter-dropdown .joms-input {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #59ad5e;
}
.joms-activity-filter-dropdown .joms-select--wrapper select,
.joms-activity-filter-dropdown .joms-input select {
  color: #999999;
}
.joms-activity-filter-dropdown .joms-input {
  color: #000000 !important;
}
.joms-form__group input {
  border-radius: 30px !important;
}
.joms-form__group .joms-select--wrapper {
  border-radius: 30px !important;
}
.joms-form__group textarea {
  border-radius: 20px;
}
.outerpgbar .innerpgbar {
  background: transparent;
}
.joms-popup__content {
  background: #5eb663;
}
.joms-dropdown {
  background: #5eb663;
  border: 1px solid #59ad5e !important;
}
@media (max-width: 991px) {
  .joms-dropdown > li {
    color: #000000;
  }
}
.joms-dropdown li:hover {
  background: transparent;
}
.joms-dropdown li:hover a {
  color: #000000;
}
.joms-dropdown li:hover svg {
  fill: #000000 !important;
}
.joms-dropdown li a {
  color: #000000;
}
.joms-dropdown li svg {
  fill: #000000 !important;
}
.joms-dropdown li.noselect {
  color: #000000;
}
.joms-comment__reply .joms-textarea {
  background: transparent !important;
  border: 1px solid #59ad5e !important;
  color: #000000;
}
.joms-comment__reply .joms-textarea__wrapper {
  background: transparent;
}
.joms-comment .joms-comment__item:first-child {
  border-top: 1px solid #59ad5e;
}
.joms-comment .joms-comment__item .joms-comment__body .joms-comment__user {
  color: #000000;
}
.joms-activity-filter {
  background-color: transparent;
  border: 1px solid #59ad5e;
}
.joms-activity-filter .joms-activity-filter-action a,
.joms-activity-filter .joms-activity-filter-action span {
  color: #000000;
}
.joms-activity-filter .joms-activity-filter-action a:hover {
  color: #000000;
}
.joms-activity-filter__options svg {
  fill: #000000;
}
.joms-js-form--login .joms-input--append input {
  border-radius: 30px !important;
}
.joms-js-form--login .joms-input--append input:focus {
  background: rgba(255, 255, 255, 0.2);
}
.joms-js-form--login .joms-checkbox span {
  color: #000000 !important;
}
.joms-login_dropdown {
  background: #5eb663 !important;
}
.joms-stream__meta {
  color: #000000;
}
.joms-blankslate {
  color: #000000;
}
.joms-popover .joms-button--neutral {
  background: #000000;
  color: #000000 !important;
}
.joms-popover.joms-popover--toolbar-search .joms-input {
  border-radius: 30px;
  color: #000000;
  background: #5eb663;
}
.joms-popover.joms-popover--toolbar-search .joms-input:focus {
  background: #5eb663;
}
.joms-focus__badges {
  z-index: 0;
}
.joms-media--video .joms-media__thumbnail .mejs-overlay-button {
  margin: -50px 0 0 -50px;
}
#joms-app--aboutme-special .joms-list__row > li {
  border-bottom: 1px solid #59ad5e;
}
.joms-postbox-inner-panel {
  background: #5eb663;
  border-bottom: 1px solid #59ad5e;
}
.joms-postbox-inner-panel .joms-postbox-photo-upload {
  background: #000000;
  color: #000000;
}
.joms-postbox-inner-panel .joms-postbox-photo-upload svg {
  fill: #000000;
}
.joms-postbox-inner-panel .joms-postbox-input {
  background: transparent;
}
.joms-postbox-inner-panel .joms-postbox-input textarea {
  color: #000000;
}
.joms-postbox-inner-panel .joms-postbox-input textarea::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.joms-postbox-inner-panel .joms-postbox-input textarea:-ms-input-placeholder {
  color: #000000;
}
.joms-postbox-inner-panel .joms-postbox-input textarea::-webkit-input-placeholder {
  color: #000000;
}
.joms-postbox-inner-panel .joms-postbox-double-panel .joms-postbox-predefined-message,
.joms-postbox-inner-panel .joms-postbox-double-panel .joms-postbox-custom-message {
  background: rgba(255, 255, 255, 0.05);
  color: #000000;
}
.joms-postbox-inner-panel .joms-postbox-double-panel .joms-postbox-predefined-message svg,
.joms-postbox-inner-panel .joms-postbox-double-panel .joms-postbox-custom-message svg {
  fill: #000000;
}
.joms-postbox-inner-panel .joms-postbox-double-panel .joms-postbox-predefined-message:hover,
.joms-postbox-inner-panel .joms-postbox-double-panel .joms-postbox-custom-message:hover {
  background: #000000;
}
.joms-postbox-inner-panel .joms-postbox-double-panel .joms-postbox-predefined-message {
  border-right: 1px solid #59ad5e;
}
.joms-postbox-inner-panel span {
  color: #000000;
}
.joms-postbox-video .joms-postbox-input textarea,
.joms-postbox-event .joms-postbox-input textarea {
  color: #000000;
}
.joms-postbox-video .joms-postbox-input textarea::-moz-placeholder,
.joms-postbox-event .joms-postbox-input textarea::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.joms-postbox-video .joms-postbox-input textarea:-ms-input-placeholder,
.joms-postbox-event .joms-postbox-input textarea:-ms-input-placeholder {
  color: #000000;
}
.joms-postbox-video .joms-postbox-input textarea::-webkit-input-placeholder,
.joms-postbox-event .joms-postbox-input textarea::-webkit-input-placeholder {
  color: #000000;
}
.joms-form__group .joms-progressbar {
  display: none;
}
.joms-form__group input.joms-button--primary.joms-js--btn-upload {
  line-height: 26px !important;
}
@media (max-width: 767px) {
  .joms-form__group input.joms-button--primary.joms-js--btn-upload {
    line-height: 26px !important;
  }
}
.joms-page {
  background: #5eb663;
}
.joms-page div:last-child {
  color: #000000;
}
.joms-button--full-small span {
  color: #000000;
}
.joms-button--full-small:hover span {
  color: #000000;
}
.joms-button--full-small:hover svg {
  fill: #000000;
}
.joms-dropdown li span {
  color: #000000;
}
.joms-dropdown li:hover {
  cursor: pointer;
}
.joms-dropdown li:hover span {
  color: #000000;
}
.joms-dropdown li:hover svg {
  fill: #000000;
}
.joms-subnav--desktop {
  background: #5eb663;
}
.joms-subnav--desktop ul li {
  background: rgba(255, 255, 255, 0.05);
  border-right: 1px solid #59ad5e;
}
.joms-subnav--desktop ul li:last-child {
  border-right: 0;
}
.joms-subnav--desktop ul li a {
  color: #000000;
}
.joms-subnav--desktop ul li.active {
  background: #000000;
}
.joms-subnav--desktop ul li:hover {
  background: #000000;
}
.joms-subnav--desktop ul li:hover a {
  color: #000000;
}
.joms-page p {
  color: #000000;
}
.joms-list--friend .joms-list__item {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #59ad5e;
}
#criteriaContainer select {
  height: 39px;
}
#criteriaContainer .joms-button--neutral {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #59ad5e;
}
.joms-list__content h4 {
  color: #000000 !important;
}
.joms-list__content h4:hover {
  color: #000000 !important;
}
.joms-list__content h4 a {
  color: #000000 !important;
}
.joms-list__content h4 a:hover {
  color: #000000 !important;
}
.picker.picker--opened select {
  color: #333333;
}
.joms-focus .joms-online a:after {
  height: 24px !important;
  width: 24px !important;
}
.joms-js--chat-header-selector-div {
  background: #59ad5e !important;
}
.joms-js--chat-header-selector-div .joms-chat__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.joms-focus__button--options--desktop > a {
  background: rgba(255, 255, 255, 0.1);
}
.joms-focus__button--options--desktop > a.active {
  background: rgba(255, 255, 255, 0.5);
}
.joms-focus__button--options--desktop ul li {
  color: #000000;
}
.joms-focus__button--options--desktop ul li:hover {
  color: #000000;
}
.joms-chat__messages-wrapper .joms-chat__messagebox svg {
  top: 40px;
}
.joms-chat__messages-wrapper .joms-textarea {
  padding-right: 75px;
}
.joms-chat__messages-wrapper .joms-icon--add {
  right: 36px !important;
}
.joms-chat__messages-wrapper .joms-icon--add + .joms-icon--add {
  right: 62px !important;
}
.joms-chat__conversations-wrapper .joms-chat__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.joms-chat__conversations-wrapper .joms-chat__item.active {
  background-color: #000000;
}
.joms-chat__message-item a {
  color: #000000;
}
.joms-chat__message-item a:hover {
  color: #000000;
}
.joms-chat__message-item.you a {
  color: #000000;
}
.joms-list--group h5 a {
  color: #000000 !important;
}
.joms-list--group h5 a:hover {
  color: #000000 !important;
}
.joms-list_content.group-public .joms-list__item {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #59ad5e;
}
.joms-list_content.group-public .joms-list__item .joms-list__footer {
  border-top: 1px solid #59ad5e;
}
.event-dropdown {
  background-color: #5eb663;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.event-dropdown .joms-postbox-tab {
  background-color: transparent !important;
  box-shadow: none !important;
}
.event-dropdown span {
  color: #000000;
}
.event-dropdown input {
  border: 1px solid #59ad5e !important;
}
.event-dropdown input:focus {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.joms-popup__wrapper .joms-popup__content .joms-form__group {
  margin-bottom: 0;
  padding-bottom: 12px;
}
.joms-page ul.joms-list--card li.joms-list__item {
  border: none;
  background: transparent;
}
ul.joms-dropdown li {
  background: #272052;
}
.joms-stream__body .joms-attachment-list {
  background: transparent;
}
.joms-stream__header .joms-stream__meta .joms-stream__reference a {
  color: #000000;
}
.joms-stream__header .joms-stream__meta .joms-stream__reference a:hover {
  color: #000000;
}