body.features-page .t3-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  body.features-page .t3-wrapper {
    padding-top: 100px;
  }
}
body.features-page .features-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../../../images/preloader.gif) center no-repeat #ffffff;
}
body.features-page .features-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
body.features-page .features-bg .mask {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}
body.features-page .t3-header {
  position: fixed;
  z-index: 3;
  background: none;
  padding: 24px 0;
  top: 0;
  width: 100%;
  transition: padding 300ms, top 300ms;
  -moz-transition: padding 300ms, top 300ms;
  -webkit-transition: padding 300ms, top 300ms;
}
@media (max-width: 991px) {
  body.features-page .t3-header {
    padding: 0;
  }
}
@media (max-width: 767px) {
  body.features-page .t3-header .logo {
    background: #01579b;
  }
  body.features-page .t3-header .logo + .actions {
    background: #ffffff;
  }
}
body.features-page .head-menu #cModule-Notify {
  right: 87px;
}
body.features-page .head-login {
  margin-right: 10px;
}
body.features-page .t3-mainbody {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
@media (min-width: 768px) {
  body.features-page .t3-mainbody {
    left: 50%;
    margin-left: -380px;
    width: 760px;
  }
}
@media (min-width: 992px) {
  body.features-page .t3-mainbody {
    left: 50%;
    margin-left: -490px;
    width: 980px;
  }
}
@media (min-width: 1200px) {
  body.features-page .t3-mainbody {
    left: 50%;
    margin-left: -600px;
    width: 1200px;
  }
}
body.features-page .login-wrap .page-header,
body.features-page .logout .page-header {
  border-bottom: 0;
  text-align: center;
  padding-bottom: 0;
}
body.features-page .login-wrap .login-description,
body.features-page .logout .login-description,
body.features-page .login-wrap .logout-description,
body.features-page .logout .logout-description {
  text-align: center;
  margin-bottom: 24px;
}
body.features-page .login-wrap .control-label,
body.features-page .logout .control-label {
  text-align: left;
  padding-top: 0;
}
body.features-page .logout .form-horizontal .control-group .controls {
  margin-left: 0;
  text-align: center;
}
body.features-page .features-intro {
  position: relative;
  z-index: 2;
}
body.features-page .t3-footer {
  position: relative;
  z-index: 2;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.scrollDown body.features-page .t3-header,
.scrollUp body.features-page .t3-header {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 0;
  padding-bottom: 0;
}