.acm-slideshow .owl-carousel {
  cursor: move;
}
.acm-slideshow .owl-carousel .owl-controls {
  margin-top: 0;
}
.acm-slideshow .owl-carousel .owl-nav {
  margin-top: 0;
}
@media (max-width: 991px) {
  .acm-slideshow .owl-carousel .owl-nav {
    display: none;
  }
}
.acm-slideshow .owl-carousel .owl-nav div {
  width: 45px;
  height: 45px;
  top: 50%;
  margin-top: -22px;
  background: none;
  border: 2px solid #ffffff;
  font-size: 32px;
  padding: 0;
  line-height: normal;
  text-indent: -999999em;
  position: absolute;
  border-radius: 50%;
}
@media screen and (min-width: 992px) {
  .acm-slideshow .owl-carousel .owl-nav div {
    right: 30px;
  }
}
.acm-slideshow .owl-carousel .owl-nav div:hover,
.acm-slideshow .owl-carousel .owl-nav div:focus,
.acm-slideshow .owl-carousel .owl-nav div:active {
  background: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.acm-slideshow .owl-carousel .owl-nav div:before {
  content: "";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  width: 41px;
  height: 41px;
  text-align: center;
  line-height: 41px;
  border-radius: 50%;
}
.acm-slideshow .owl-carousel .owl-nav div.owl-prev {
  left: 30px;
  right: auto;
}
.acm-slideshow .owl-carousel .owl-nav div.owl-prev:before {
  content: "\f104";
}
@media screen and (max-width: 991px) {
  .acm-slideshow .owl-carousel .owl-nav div.owl-prev {
    position: absolute;
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .acm-slideshow .owl-carousel .owl-nav div.owl-next {
    right: 30px;
    left: auto;
  }
}
.acm-slideshow .owl-carousel .owl-nav div.owl-next:before {
  content: "\f105";
}
@media screen and (max-width: 991px) {
  .acm-slideshow .owl-carousel .owl-nav div.owl-next {
    position: absolute;
    right: 0;
  }
}
.acm-slideshow .owl-carousel .owl-dots {
  bottom: 76px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}
.acm-slideshow .owl-carousel .owl-dots .owl-dot {
  cursor: pointer;
  display: inline-block;
}
.acm-slideshow .owl-carousel .owl-dots .owl-dot span {
  background: #ffffff;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  width: 12px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.acm-slideshow .owl-carousel .owl-dots .owl-dot:hover span,
.acm-slideshow .owl-carousel .owl-dots .owl-dot.active span {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 991px) {
  .acm-slideshow .owl-carousel .owl-dots {
    display: none !important;
  }
}
.acm-slideshow .owl-carousel .item {
  position: relative;
}
.acm-slideshow .owl-carousel .item:before {
  background: rgba(0, 0, 0, 0.25);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.acm-slideshow .owl-carousel .item .slider-img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 480px) {
  .acm-slideshow .owl-carousel .item {
    height: 240px;
  }
  .acm-slideshow .owl-carousel .item .slider-img {
    width: auto;
    height: 100%;
  }
}
.acm-slideshow .owl-carousel .item .slider-content {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  padding: 26px;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
}
.acm-slideshow .owl-carousel .item .slider-content:before {
  background: url(../../../images/ico/scroll.png) no-repeat bottom center;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -12px;
  bottom: -37px;
  width: 24px;
  height: 37px;
}
@media screen and (max-width: 767px) {
  .acm-slideshow .owl-carousel .item .slider-content:before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .acm-slideshow .owl-carousel .item .slider-content {
    top: 40px;
  }
}
@media screen and (min-width: 992px) {
  .acm-slideshow .owl-carousel .item .slider-content {
    top: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .acm-slideshow .owl-carousel .item .slider-content {
    top: 30%;
  }
}
.acm-slideshow .owl-carousel .item .slider-content .item-desc {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  margin: 0 auto;
  width: 30%;
}
@media screen and (max-width: 767px) {
  .acm-slideshow .owl-carousel .item .slider-content .item-desc {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .acm-slideshow .owl-carousel .item .slider-content .item-desc {
    width: 80%;
  }
}
.acm-slideshow .owl-carousel .item .slider-content .item-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 54px;
  font-weight: 500;
  margin-top: 0;
  position: relative;
  margin-bottom: 26px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .acm-slideshow .owl-carousel .item .slider-content .item-title {
    font-size: 14px;
    margin-bottom: 13px;
  }
}