.t3-mainbody {
  padding-top: 20px !important;
}

.row {
  background-color: #ffffff
}

.page-header {
  text-align: center;
  border-bottom: 0 !important
}

.form-horizontal {
  margin-left: 163px;
}

.account-top-title {
  font-size: 26px;
  font-family: MicrosoftYaHei;
  color: rgba(255, 96, 16, 1);
  margin: 0 !important;
  padding: 0 !important;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0 !important;
  font-size: 16px !important;
  font-family: MicrosoftYaHei !important;
  line-height: 21px;
  color: #999999 !important;
  border: 0;
  border-bottom: 0 !important;
}

.control-group {
  margin: 10px 0 !important
}

.left-label-title {
  padding-top: 10px !important;
  margin-right: 5px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: rgba(51, 51, 51, 1);
  line-height: 19px;
  letter-spacing: 0px;
  margin-left: 120px;
}

.detail-info {
  width: 342px !important;
  height: 40px !important;
}

.detail-info-textarea {
  width: 342px !important;
  height: 60px !important;
}

.address-select-div {
  width: 343px;
  display: flex;
  align-content: center;
  justify-content: space-between
}

.address-select-div>div>select {
  width: 100px;
  height: 40px;
}

.tabs {
  display: none;
}

.font-color {
  font-size: 10px !important;
  font-family: MicrosoftYaHei !important;
  color: rgba(255, 153, 37, 1) !important;
  line-height: 14px;
}

.account-foot {
  margin-left: 5px;
  border-top: 0 !important;
  background-color: #ffffff !important
}

.cancel-a:hover {
  background-color: #EEEEEE;
}

.cancel-a {
  text-align: center;
  width: 160px;
  height: 40px;
  background-color: #EEEEEE;
  line-height: 33px !important;
}

.creat-form:hover {
  background-color: #FF6010 !important;
}

.creat-form {
  text-align: center;
  width: 160px;
  height: 40px;
  background-color: #FF6010 !important;
  line-height: 33px !important;
  background-image: linear-gradient(to bottom, #FF6010, #FF6010) !important;
  font-size: 14px !important;
  font-family: MicrosoftYaHei !important;
  color: rgba(255, 255, 255, 1) !important;
  letter-spacing: 0px;
}

.form-actions {
  padding-left: 195px !important;
}