.t3-mainbody {
  width: 100%;
}

.news-message-p {
  font-size: 18px;
  font-family: MicrosoftYaHei;
  color: rgba(255, 96, 16, 1);
}

.clearfix {
  padding-left: 10px;
}

.clearfix>.readmore {
  display: none
}

.clearfix>.pull-right {
  display: none
}

.article-title>a {
  font-size: 20px;
  font-family: MicrosoftYaHei;
  color: rgba(51, 51, 51, 1);
}

.article-title {
  margin-bottom: 10px !important
}

.new-and-time {
  margin-top: 20px;
  margin-bottom: 0 !important;
  text-align: center
}

.category-name {
  padding-left: 0 !important;
  border-style: none !important;
}

.category-name>a {
  color: #FF6010 !important;
  padding: 2px;
  border: 1px solid #FF6010
}

.news-container {
  padding-bottom: 0;
  height: 135px;
  border-style: none !important
}

.news-row {
  width: 1200px;
  height: 140px;
  margin-left: 0 !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #EEEEEE
}

.news-content {
  padding-left: 10px;
  padding-right: 50px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: rgba(153, 153, 153, 1);
  overflow: hidden;

}

.published {
  border-style: none !important
}

.fa-folder-o {
  display: none !important
}

.fa-calendar-o {
  display: none !important
}

.published>time {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: rgba(153, 153, 153, 1);
}

.cat-children {
  display: none
}

.t3-content {
  background-color: #FFFFFF
}

.system-unpublished,
tr.system-unpublished {
  background: transparent !important;
  border-style: none !important
}

.col-sm-10 {
  height: 135px;
}

.counter {
  margin-top: 23px;
}
.pull-left.item-image{
  width: 170px;height: 130px;overflow: hidden;
}
.pull-left.item-image img{width: 100%;height: 100%}

/**
分页样式 ------------- start
 */

.xp-pagination {
  margin: 0 !important;
  /* padding: 0 !important; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px !important;
}

.xp-pagination .pull-right .pagination {
  margin: 0 !important;
  padding: 0 !important;
}

.xp-pagination .pagination li > a {
  border: 1px solid #EEEEEE;
  padding: 4px 11px;
  margin-right: 10px;
  border-radius: 1px !important;
}

.xp-pagination .pagination li > a:hover {
  background: #FF6010;
  color: #FFFFFF !important;
}

.xp-pagination .pagination li.active a {
  background: #FF6010 !important;
  border: 1px solid #FF6010;
  color: #FFFFFF !important;
}

.xp-pagination .pagination li.disabled a {
  color: rgba(153, 153, 153, 1);
  cursor: not-allowed;
  background: #FFFFFF;
  border: none;
  color: #999999 !important;
}

.xp-pagination .pagination li:first-child {
  display: none;
}

.xp-pagination .pagination li:last-child {
  display: none;
}

/**
 分页样式 ------------  end
 */
