.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.please-logon {
  color: #FF6010 !important
}

.navbar .nav>li>a {
  font-size: 12px;
  font-family: MicrosoftYaHei;
  color: #666666 !important;
}

span.my-huashi.dropdown-toggle.separator {
  font-size: 12px;
  font-family: MicrosoftYaHei;
  color: #666666 !important;
}
