.window body {
  height: auto;
  padding: 0;
  margin: 0;
}
.window .window-mainbody {
  padding: 20px;
}
.window .article-intro-media {
  position: relative;
}
.window .article-intro-media .item-image + .category-name {
  top: 0;
  left: 0;
}