.docs-section {
  margin-bottom: 52px;
}
.docs-section .page-header {
  border-bottom: 0;
  margin-bottom: 26px;
  padding-bottom: 0;
}
.docs-section .page-header h1 {
  font-size: 20px;
  font-weight: 600;
  color: #26292d;
}
.docs-section h2.sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #26292d;
  margin-bottom: 26px;
}
.docs-section .dropdown-menu {
  border: 0;
  padding: 13px 0;
}
.docs-section .dropdown-menu li {
  padding: 0 13px;
}
.example-type h1,
.example-type h2,
.example-type h3,
.example-type h4,
.example-type h5,
.example-type h6 {
  margin: 26px 0;
  font-weight: 100;
}
.example-colors .swatch-item {
  width: 100%;
  min-height: 100px;
  position: relative;
  background: #4c5560;
  color: #ffffff;
  margin-bottom: 26px;
}
@media (min-width: 1200px) {
  .example-colors .swatch-item {
    min-height: 123px;
  }
}
.example-colors .swatch-item dl {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px;
  margin: 0;
}
.example-colors .color-brand-primary {
  background: #1d9bdc;
}
.example-colors .color-brand-secondary {
  background: #fe6945;
}
.example-colors .color-brand-success {
  background: #4db18d;
}
.example-colors .color-brand-danger {
  background: #cc0000;
}
.example-colors .color-brand-warning {
  background: #f0ad4e;
}
.example-colors .color-brand-info {
  background: #5bc0de;
}
.example-colors .color-gray-darker {
  background: #26292d;
}
.example-colors .color-gray-dark {
  background: #4c5560;
}
.example-colors .color-gray {
  background: #555555;
}
.example-colors .color-gray-light {
  background: #8c959f;
  color: #4c5560;
}
.example-colors .color-gray-lighter {
  background: #eeeeee;
  color: #4c5560;
}
.example-colors .color-gray-lightest {
  background: #f7f7f7;
  color: #4c5560;
}
.example-inputs .btn,
.example-inputs .form-control {
  box-shadow: none;
  width: 100%;
  margin-bottom: 26px;
}
.example-inputs ul {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .example-inputs ul li {
    float: left;
    width: 30%;
    padding-right: 26px;
  }
}
.example-button .btn {
  margin: 0 10px 10px 0;
}
.example-buttons ul {
  list-style: none;
  padding-left: 0;
}
.example-buttons .btn {
  margin: 0 10px 10px 0;
}