<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="Map"
		label="COM_ZHBAIDUMAP_CONFIG_MAP_LABEL"
		description="COM_ZHBAIDUMAP_CONFIG_MAP_DESC"
	>
		
		<field
			name="map_map_key"
			type="text"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPMAPKEY_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPMAPKEY_DESC"
            size="150"
			default=""
			class="inputbox span8"
		/>
		<field
			name="map_lat"
			type="text"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPDEFLAT_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPDEFLAT_DESC"
            size="60"
			default=""
		/>
		<field
			name="map_lng"
			type="text"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPDEFLNG_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPDEFLNG_DESC"
            size="60"
			default=""
		/>
                <field
			name="map_height"
			type="text"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPHEIGHT_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPHEIGHT_DESC"
                        size="60"
			default=""
		/>
                <field
			name="placemarktitletag"
			type="list"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_PLACEMARK_TITLE_H2_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_PLACEMARK_TITLE_H2_DESC"
			default="h2"
		>
			<option	value="h2">COM_ZHBAIDUMAP_CONFIG_MAP_PLACEMARK_TITLE_H2</option>
			<option	value="h3">COM_ZHBAIDUMAP_CONFIG_MAP_PLACEMARK_TITLE_H3</option>
		</field>
                <field
			name="map_type_baidu"
			type="list"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPTYPE_BAIDU_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPTYPE_BAIDU_DESC"
			default="1"
		>
			<option	value="1">JYES</option>
		</field>
		<field
			name="map_compatiblemode"
			type="list"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_COMPATIBLEMODE_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_COMPATIBLEMODE_DESC"
			default="0"
			size="1"
		>
			<option	value="0">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_COMPATIBLEMODE_MOOTOOLS</option>
			<option	value="1">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_COMPATIBLEMODE_INTERNAL</option>
			<option	value="2">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_COMPATIBLEMODE_JQUERY</option>
		</field>
		<field
			name="map_compatiblemode_rsf"
			type="radio"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_COMPATIBLEMODE_RSF_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_COMPATIBLEMODE_RSF_DESC"
			default="0"
			class="btn-group"
		>
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>
		<field
			name="httpsprotocol"
			type="radio"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_HTTPSPROTOCOL_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_HTTPSPROTOCOL_DESC"
			default="1"
		>
			<option	value="0">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_HTTPSPROTOCOL_HTTPS</option>
			<option	value="1">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_HTTPSPROTOCOL_HTTP</option>
		</field>
		<field
			name="loadtype"
			type="list"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_LOADTYPE_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_LOADTYPE_DESC"
            size="1"
			default="0"
		>
			<option	value="0">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_LOADTYPE_ONLOAD</option>
			<option	value="1">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_LOADTYPE_DOMREADY</option>
            <option	value="2">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_LOADTYPE_JQUERYREADY</option>
            
		</field>
		<field
			name="map_api_version"
			type="text"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPAPIVERSION_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_MAPAPIVERSION_DESC"
            size="10"
			default=""
		/>
		<field
			name="geotag_link"
			type="list"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_LINK_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_LINK_DESC"
            size="1"
			default="0"
		>
			<option	value="0">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_LINK_ICON</option>
			<option	value="1">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_LINK_NONE</option>
		</field>
		<field
			name="geotag_css"
			type="list"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_CSS_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_CSS_DESC"
            size="1"
			default="0"
		>
			<option	value="0">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_CSS_ADVANCED</option>
			<option	value="1">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_CSS_SIMPLE</option>
			<option	value="10">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_CSS_A_EXTERNAL</option>
			<option	value="11">COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_CSS_S_EXTERNAL</option>
		</field>
		<field
			name="geotag_hide_marker"
			type="radio"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_MARKER_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_GEOTAG_MARKER_DESC"
			default="0"
			class="btn-group"
		>
			<option	value="1">JNO</option>
			<option	value="0">JYES</option>
		</field>
		
                <field
			name="show_category"
			type="radio"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_SHOW_CATEGORY_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_FIELD_SHOW_CATEGORY_DESC"
			default="0"
			class="btn-group"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
				
		
		<field
			name="spacer1"
			type="spacer"
			label=""
			description=""
			hr="true"
		/>
		<field
			name="spacer2"
			type="spacer"
			label="COM_ZHBAIDUMAP_CONFIG_MAP_LICENSE_LABEL"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_LICENSE_DESC"
			hr="false"
		/>
		<field
			name="licenseinfo"
			type="list"
			label="COM_ZHBAIDUMAP_MAP_POWEREDBY"
			description="COM_ZHBAIDUMAP_CONFIG_MAP_LICENSE_LABEL"
			default="3"
		>
					<option	value="100">COM_ZHBAIDUMAP_MAP_DETAIL_PLACEMARKLISTPOS_NONE</option>					
					<option	value="1">COM_ZHBAIDUMAP_MAP_DETAIL_POS_TOP_LEFT</option>
					<option	value="2">COM_ZHBAIDUMAP_MAP_DETAIL_POS_TOP_RIGHT</option>
					<option	value="3">COM_ZHBAIDUMAP_MAP_DETAIL_POS_BOTTOM_LEFT</option>
					<option	value="4">COM_ZHBAIDUMAP_MAP_DETAIL_POS_BOTTOM_RIGHT</option>
					<option	value="114">COM_ZHBAIDUMAP_MAP_DETAIL_SHOWPANEL_BOTTOM</option>
		</field>
		<field
			name="spacer3"
			type="spacer"
			label="Visit &lt;a href=&quot;http://joomla.zhuk.cc/index.php/donate &quot; target=&quot;_blank&quot; &gt;zhuk.cc&lt;/a&gt; for donation "
			description=""
			hr="false"
		/>
		<field
			name="spacer4"
			type="spacer"
			label=""
			description=""
			hr="true"
		/>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_zhbaidumap"
			section="component"
		/>
	</fieldset>
</config>

