@font-face {
    font-family: 'PTRootUI';
    src: url('PT_Root_UI_Regular-webfont.eot');
    src: url('PT_Root_UI_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('PT_Root_UI_Regular-webfont.woff') format('woff'),
         url('PT_Root_UI_Regular-webfont.ttf') format('truetype'),
         url('PT_Root_UI_Regular-webfont.svg#pt_root_uiregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUI';
    src: url('PT_Root_UI_Medium-webfont.eot');
    src: url('PT_Root_UI_Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('PT_Root_UI_Medium-webfont.woff') format('woff'),
         url('PT_Root_UI_Medium-webfont.ttf') format('truetype'),
         url('PT_Root_UI_Medium-webfont.svg#pt_root_uimedium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'PTRootUI';
    src: url('PT_Root_UI_Bold-webfont.eot');
    src: url('PT_Root_UI_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('PT_Root_UI_Bold-webfont.woff') format('woff'),
         url('PT_Root_UI_Bold-webfont.ttf') format('truetype'),
         url('PT_Root_UI_Bold-webfont.svg#pt_root_uibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

