.acm-stats .stats-header {
  margin-bottom: 20px;
}
.acm-stats .stats-header .stats-title {
  margin: 0 0 48px;
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  line-height: 1.75;
}
.acm-stats .stats-header .stats-description {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.715;
}
.acm-stats .stats-list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.acm-stats .stats-list:before,
.acm-stats .stats-list:after {
  content: " ";
  display: table;
}
.acm-stats .stats-list:after {
  clear: both;
}
.acm-stats .stats-list li {
  padding: 0 10px;
  border-top: 0;
}
.acm-stats .stats-subject {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
}
.acm-stats.style-dark {
  color: #ffffff;
}
.acm-stats.style-dark .stats-title {
  color: #ffffff;
}
.acm-stats.style-dark .stats-subject {
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .acm-stats .container {
    overflow: hidden;
  }
}
.ie8 .uber-stats .container {
  width: auto;
}
@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.inview .uber-stats .stats-list span.stats-item-counter .progressbar span {
  -webkit-animation: progressBar 900ms ease 0.15s forwards;
  -moz-animation: progressBar 900ms ease 0.15s forwards;
  animation: progressBar 900ms ease 0.15s forwards;
}
.acm-stats.style-1 .stats-list {
  text-align: center;
}
.acm-stats.style-1 .stats-list .stats-asset {
  padding-right: 20px;
  padding-left: 20px;
}
.acm-stats.style-1 .stats-list .stats-asset:last-child,
.acm-stats.style-1 .stats-list .stats-asset.last-child {
  border-left: 0;
}
@media screen and (max-width: 991px) {
  .acm-stats.style-1 .stats-list .stats-asset {
    margin-bottom: 48px;
  }
  .acm-stats.style-1 .stats-list .stats-asset:nth-child(2n) {
    border-left: 0;
  }
  .acm-stats.style-1 .stats-list .stats-asset:last-child {
    margin-bottom: 0;
  }
}
.acm-stats.style-1 .stats-list span {
  display: block;
}
.acm-stats.style-1 .stats-list span.stats-item-icon {
  color: #f23d79;
  font-size: 24px;
  text-align: center;
  margin-bottom: 12px;
  font-size: 55px;
}
.acm-stats.style-1 .stats-list span.stats-item-counter {
  font-size: 36px;
  color: #000000;
  margin-bottom: 12px;
}
.acm-stats.style-1.style-dark .stats-list {
  color: #cccccc;
}
.acm-stats.style-1.style-dark .stats-list span.stats-item-counter {
  color: #ffffff;
}
.acm-stats.style-1.style-dark .stats-list .stats-item-icon {
  color: #f89dbb;
}
.acm-stats.style-1.style-dark .stats-list .stats-subject {
  color: #999999;
}
.acm-stats.style-1.style-dark .stats-list .stats-description {
  color: #555555;
}