
@import "media-queries";          // media queries mixins

@import "settings";               // color + font variables

@import "index";                  // index

@import "category";               // category

@import "listings";               // listings

@import "listing-details";        // listing details

@import "listing-summary";        // listing summary

@import "reviews";                // reviews

@import "map";                    // map

@import "owners";                 // owners

@import "browse-by";              // browse by

@import "categories";             // categories

@import "add-listing";            // add listing

@import "contact-owner";          // contact owner

@import "search";                 // listing & category search results

@import "alpha-index";            // alpha index

@import "vendor/magnific-popup";  // Magnific Popup

//-----------------------------------------------------------------------------
// The primary style for a page's title in Mosets Tree.
//
h1.contentheading {
  margin-bottom:10px;
  padding: 5px 2px;
}

//-----------------------------------------------------------------------------
// Shows 'no results' message.
//
.mt-no-results-message {
  text-align: center;
}

.mt-rss-feed-icon {
  margin-left: 0.4rem;
}
// Is this needed?
//h2.contentheading img, #reviews .title img {
//  margin-left:.2em;
//}


sup.new::before, sup.featured::before, sup.popular::before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 11px 0;
}
sup.new, sup.featured, sup.popular {
  font-size: 0.45em;
  top: -4px;
  font-family: sans-serif;
  letter-spacing: 2px;
  /*left: 1em;*/
  /*background: #0048de;*/
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 1em 0 0.75em;
  position: relative;
  text-decoration: none;
  margin-left: 1em;
  text-transform: uppercase;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  /*font-size:0.6em;*/
  /*color:#fff;*/
  /*border:1px solid #fff;*/
  /*font-weight:700;*/
  /*position:relative;*/
  /*padding:5px 8px 1px 8px;*/
  /*display:inline-block;*/
  /*line-height:1.7em;*/
  /*margin-left:1em;*/

  /*font-size:0.7em;*/
  /*color:#fff;*/
  /*border:1px solid #fff;*/
  /*font-weight:700;*/
  /*position:relative;*/
  /*padding:6px 8px 2px 8px;*/
  /*display:inline-block;*/
  /*line-height:1.7em;*/
  /*margin-left:1em;*/
}

sup.new {
  background-color:#51CD07;
}
sup.new::before {
  border-color: transparent #51CD07 transparent transparent;
}
sup.featured {
  background-color:#0048de;
}
sup.featured::before {
  border-color: transparent #0048de transparent transparent;
}

sup.popular {
  background-color:#ff264e;
}
sup.popular::before {
  border-color: transparent #ff264e transparent transparent;
}

//-----------------------------------------------------------------------------
// A highlighted tag to indicate if a listing is currently "Pending Approval"
// or "Unpublished".
//
.pendingapproval, .unpublished {
  background-color:#FFFFB5;
  font:bold 0.6em "Lucida Grande", Lucida, Verdana, sans-serif;
  border:1px solid #ECEE5F;
  position:relative;
  top:-3px;
  padding:3px 10px;
  display: inline-block;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 0.5em;
  letter-spacing: 1px;
}
