.acm-events .event-item {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding: 32px 0;
}
.acm-events .event-item h3 {
  margin-top: 0;
  margin-bottom: 8px;
}
.acm-events .event-item .event-time {
  font-size: 12px;
  text-transform: uppercase;
}
.acm-events .event-item .event-link a {
  display: inline-block;
  border-radius: 50%;
  background: #3a2a5c;
  color: #ffffff;
  line-height: 32px;
  font-size: 8px;
  text-align: center;
  height: 32px;
  width: 32px;
}
.acm-events .event-item .event-link a:hover,
.acm-events .event-item .event-link a:focus,
.acm-events .event-item .event-link a:active {
  background: linear-gradient(135deg, #3bd17e, #26b7a0);
}
.acm-events .event-item .event-link a .fa,
.acm-events .event-item .event-link a .fab,
.acm-events .event-item .event-link a .fal,
.acm-events .event-item .event-link a .far,
.acm-events .event-item .event-link a .fas {
  line-height: 32px;
}