.acm-gallery .btn {
  margin-top: 24px;
}
.acm-gallery .btn > fa {
  margin-right: 5px;
}
.acm-gallery .isotope-layout {
  overflow: hidden;
}
.acm-gallery .isotope-layout .custom.bg-image {
  padding: 0;
  position: static;
}
.acm-gallery .isotope-layout .isotope:after {
  content: '';
  display: block;
  clear: both;
}
.acm-gallery .isotope-layout .isotope .mask {
  background: #000000;
  content: "";
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.acm-gallery .isotope-layout .grid-xs-1 {
  width: 100%;
}
.acm-gallery .isotope-layout .grid-xs-1.item-2 {
  width: 100%;
}
.acm-gallery .isotope-layout .grid-xs-2 {
  width: 50%;
}
.acm-gallery .isotope-layout .grid-xs-2.item-2 {
  width: 100%;
}
.acm-gallery .isotope-layout .grid-xs-3 {
  width: 33.3%;
}
.acm-gallery .isotope-layout .grid-xs-3.item-2 {
  width: 66.6%;
}
.acm-gallery .isotope-layout .grid-xs-4 {
  width: 25%;
}
.acm-gallery .isotope-layout .grid-xs-4.item-2 {
  width: 50%;
}
.acm-gallery .isotope-layout .grid-xs-5 {
  width: 20%;
}
.acm-gallery .isotope-layout .grid-xs-5.item-2 {
  width: 40%;
}
.acm-gallery .isotope-layout .grid-xs-6 {
  width: 16.6%;
}
.acm-gallery .isotope-layout .grid-xs-6.item-2 {
  width: 33.2%;
}
.acm-gallery .isotope-layout .grid-xs-7 {
  width: 14.28%;
}
.acm-gallery .isotope-layout .grid-xs-7.item-2 {
  width: 28.56%;
}
.acm-gallery .isotope-layout .grid-xs-8 {
  width: 12.5%;
}
.acm-gallery .isotope-layout .grid-xs-8.item-2 {
  width: 25%;
}
.acm-gallery .isotope-layout .grid-xs-9 {
  width: 11.1%;
}
.acm-gallery .isotope-layout .grid-xs-9.item-2 {
  width: 22.2%;
}
.acm-gallery .isotope-layout .grid-xs-10 {
  width: 10%;
}
.acm-gallery .isotope-layout .grid-xs-10.item-2 {
  width: 20%;
}
@media screen and (min-width: 768px) {
  .acm-gallery .isotope-layout .grid-sm-1 {
    width: 100%;
  }
  .acm-gallery .isotope-layout .grid-sm-1.item-2 {
    width: 100%;
  }
  .acm-gallery .isotope-layout .grid-sm-2 {
    width: 50%;
  }
  .acm-gallery .isotope-layout .grid-sm-2.item-2 {
    width: 100%;
  }
  .acm-gallery .isotope-layout .grid-sm-3 {
    width: 33.3%;
  }
  .acm-gallery .isotope-layout .grid-sm-3.item-2 {
    width: 66.6%;
  }
  .acm-gallery .isotope-layout .grid-sm-4 {
    width: 25%;
  }
  .acm-gallery .isotope-layout .grid-sm-4.item-2 {
    width: 50%;
  }
  .acm-gallery .isotope-layout .grid-sm-5 {
    width: 20%;
  }
  .acm-gallery .isotope-layout .grid-sm-5.item-2 {
    width: 40%;
  }
  .acm-gallery .isotope-layout .grid-sm-6 {
    width: 16.6%;
  }
  .acm-gallery .isotope-layout .grid-sm-6.item-2 {
    width: 33.2%;
  }
  .acm-gallery .isotope-layout .grid-sm-7 {
    width: 14.28%;
  }
  .acm-gallery .isotope-layout .grid-sm-7.item-2 {
    width: 28.56%;
  }
  .acm-gallery .isotope-layout .grid-sm-8 {
    width: 12.5%;
  }
  .acm-gallery .isotope-layout .grid-sm-8.item-2 {
    width: 25%;
  }
  .acm-gallery .isotope-layout .grid-sm-9 {
    width: 11.1%;
  }
  .acm-gallery .isotope-layout .grid-sm-9.item-2 {
    width: 22.2%;
  }
  .acm-gallery .isotope-layout .grid-sm-10 {
    width: 10%;
  }
  .acm-gallery .isotope-layout .grid-sm-10.item-2 {
    width: 20%;
  }
}
@media screen and (min-width: 992px) {
  .acm-gallery .isotope-layout .grid-md-1 {
    width: 100%;
  }
  .acm-gallery .isotope-layout .grid-md-1.item-2 {
    width: 100%;
  }
  .acm-gallery .isotope-layout .grid-md-2 {
    width: 50%;
  }
  .acm-gallery .isotope-layout .grid-md-2.item-2 {
    width: 100%;
  }
  .acm-gallery .isotope-layout .grid-md-3 {
    width: 33.3%;
  }
  .acm-gallery .isotope-layout .grid-md-3.item-2 {
    width: 66.6%;
  }
  .acm-gallery .isotope-layout .grid-md-4 {
    width: 25%;
  }
  .acm-gallery .isotope-layout .grid-md-4.item-2 {
    width: 50%;
  }
  .acm-gallery .isotope-layout .grid-md-5 {
    width: 20%;
  }
  .acm-gallery .isotope-layout .grid-md-5.item-2 {
    width: 40%;
  }
  .acm-gallery .isotope-layout .grid-md-6 {
    width: 16.6%;
  }
  .acm-gallery .isotope-layout .grid-md-6.item-2 {
    width: 33.2%;
  }
  .acm-gallery .isotope-layout .grid-md-7 {
    width: 14.28%;
  }
  .acm-gallery .isotope-layout .grid-md-7.item-2 {
    width: 28.56%;
  }
  .acm-gallery .isotope-layout .grid-md-8 {
    width: 12.5%;
  }
  .acm-gallery .isotope-layout .grid-md-8.item-2 {
    width: 25%;
  }
  .acm-gallery .isotope-layout .grid-md-9 {
    width: 11.1%;
  }
  .acm-gallery .isotope-layout .grid-md-9.item-2 {
    width: 22.2%;
  }
  .acm-gallery .isotope-layout .grid-md-10 {
    width: 10%;
  }
  .acm-gallery .isotope-layout .grid-md-10.item-2 {
    width: 20%;
  }
}
.acm-gallery .isotope-layout .caption {
  color: #151515;
  font-size: 19px;
  position: absolute;
  top: 50%;
  text-align: center;
  right: 0;
  width: 100%;
  z-index: 3;
  -webkit-animation: eff-2 2s;
  -o-animation: eff-2 2s;
  animation: eff-2 2s;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .acm-gallery .isotope-layout .caption {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .acm-gallery .isotope-layout .caption {
    font-size: 57px;
  }
}
.acm-gallery .isotope-layout .caption span {
  font-size: 24px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .acm-gallery .isotope-layout .caption span {
    font-size: 95px;
  }
}
@media screen and (min-width: 992px) {
  .acm-gallery .isotope-layout .caption span {
    font-size: 133px;
  }
}
.acm-gallery .isotope-layout .caption p {
  margin-bottom: 0;
}
.acm-gallery .isotope-layout .item {
  background: transparent;
  float: right;
}
.acm-gallery .isotope-layout .item a {
  display: block;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .acm-gallery .isotope-layout .item.item-2 {
    margin-right: -1px;
  }
}
.acm-gallery .isotope-layout .item .item-image {
  overflow: hidden;
  margin-bottom: 0;
}
.acm-gallery .isotope-layout .item img {
  margin: 0;
  width: 100%;
}
.ekko-lightbox .modal-loading {
  display: none;
}
.ekko-lightbox.fade {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}
.ekko-lightbox.fade.show,
.ekko-lightbox.fade.in {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
  filter: alpha(opacity=100);
}
.ekko-lightbox .modal-dialog {
  margin-top: 15%;
}
@media screen and (min-width: 480px) {
  .ekko-lightbox .modal-dialog {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: auto;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
  }
}
.ekko-lightbox .modal-header {
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.ekko-lightbox .modal-header .close {
  background: #151515;
  color: #000000;
  height: 35px;
  margin: 0;
  width: 35px;
}
.ekko-lightbox .modal-body {
  padding: 0;
}
.ekko-lightbox .modal-body .ekko-lightbox-nav-overlay {
  position: absolute;
  top: 50%;
  margin-top: -28px;
  width: 100%;
}
.ekko-lightbox .modal-body .ekko-lightbox-nav-overlay a {
  background: rgba(0, 0, 0, 0.5);
  color: #151515;
  padding: 18px !important;
}
.ekko-lightbox .modal-body .ekko-lightbox-nav-overlay a.glyphicon-chevron-right {
  float: left;
}
.ekko-lightbox .img-responsive {
  margin: 0;
  max-height: 80vh;
}
@keyframes effect-item-1 {
  0% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  20% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes effect-item-1 {
  0% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  20% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes effect-item-2 {
  0% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes effect-item-2 {
  0% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes eff-2 {
  0% {
    top: 40%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 50%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-webkit-keyframes eff-2 {
  0% {
    top: 40%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 50%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.ie8 .isotope-layout .caption {
  top: 12%;
}
.ie8 .isotope-layout .item,
.ie8 .isotope-layout .grid-sizer {
  margin-right: -0.5px;
}
.ie8 .ekko-lightbox .modal-dialog {
  position: relative;
  top: 5%;
  right: 0;
  width: 600px !important;
  overflow: hidden;
}
.ie8 .ekko-lightbox .img-responsive {
  max-width: 100%;
}
.full-screen {
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 991px) {
  .full-screen {
    height: auto !important;
  }
}