<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="Misc" label="General" addfieldpath="/plugins/system/nrframework/fields">
        <field name="forceloadmedia" default="0" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_FORCE_LOAD_MEDIA" description="COM_RSTBOX_FORCE_LOAD_MEDIA_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="loadjQuery" default="1" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_LOADJQUERY" description="COM_RSTBOX_LOADJQUERY_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="loadCSS" default="1" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_LOADCSS" description="COM_RSTBOX_LOADCSS_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="loadVelocity" default="1" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_LOADVELOCITY" description="COM_RSTBOX_LOADVELOCITY_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field type="spacer" name="myspacer" hr="true" />
        <field name="preparecontent" default="1" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_PREPARE_CONTENT" description="COM_RSTBOX_PREPARE_CONTENT_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="assign_offline" type="radio"
            default="1" 
            class="btn-group btn-group-yesno"
            label="COM_RSTBOX_ASSIGN_OFFLINE"
            description="COM_RSTBOX_ASSIGN_OFFLINE_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="executeoutputoverride" default="0" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_EXECUTE_ON_OUTPUT_OVERRIDE" description="COM_RSTBOX_EXECUTE_ON_OUTPUT_OVERRIDE_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="executeonformat" default="0" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_EXECUTE_ON_FORMAT_OVERRIDE" description="COM_RSTBOX_EXECUTE_ON_FORMAT_OVERRIDE_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="rtl" default="0" class="btn-group btn-group-yesno" type="radio" label="NR_RTL" description="NR_RTL_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="preventpagescroll" default="0" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_PREVENT_PAGE_SCROLL" description="COM_RSTBOX_PREVENT_PAGE_SCROLL_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="colorgroup" default="1" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_ITEM_COLORGROUP_CONFIG" description="COM_RSTBOX_ITEM_COLORGROUP_CONFIG_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="show_update_notification" type="radio"
            label="NR_SHOW_UPDATE_NOTIFICATION"
            description="NR_SHOW_UPDATE_NOTIFICATION_DESC"
            default="1"
            class="btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field type="spacer" name="myspacer1" hr="true" />
        <field type="textarea"
            name="globalFooter"
            label="COM_RSTBOX_GLOBAL_FOOTER"
            hint="COM_RSTBOX_GLOBAL_FOOTER_DESC"
            filter="raw"
            description="COM_RSTBOX_GLOBAL_FOOTER_DESC"
            rows="8"
            class="span12 input-full"
        />
        <field name="showcopyright" default="1" class="btn-group btn-group-yesno" type="radio" label="NR_SHOW_COPYRIGHT" description="NR_SHOW_COPYRIGHT_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="debug" default="0" class="btn-group btn-group-yesno" type="radio" label="COM_RSTBOX_DEBUG" description="COM_RSTBOX_DEBUG_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
    </fieldset>
    <fieldset name="advanced" label="Advanced">
        <field name="statsStart" type="nr_block" 
            start="1"
            description="COM_RSTBOX_STATS_DESC"
            label="COM_RSTBOX_STATS"
        />
        <field type="radio"
            name="stats"
            default="1"
            class="btn-group btn-group-yesno"
            label="JENABLED"
            description="COM_RSTBOX_STATS_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field type="list"
            name="statsdays" 
            default="90"
            class="input-small"
            showon="stats:1"
            label="COM_RSTBOX_STATS_DAYS"
            description="COM_RSTBOX_STATS_DAYS_DESC">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="180">180</option>
            <option value="365">365</option>
        </field>
        <field name="statsEnd" type="nr_block" 
            end="1"
        />
        <field name="gaBlockStart" type="nr_block" 
            start="1"
            description="COM_RSTBOX_GA_DESC"
            label="COM_RSTBOX_GA"
        />
        <field type="radio"
            name="gaTrack"
            default="0"
            class="btn-group btn-group-yesno"
            label="JENABLED"
            description="COM_RSTBOX_GA_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="gaID" type="text" 
            class="btn-group btn-group-yesno" 
            label="COM_RSTBOX_GA_ID" 
            description="COM_RSTBOX_GA_ID_DESC"
            showon="gaTrack:1"
            hint="UA-XXXXXXX-XX"
        />
        <field name="gaCategory" type="text"
            default="EngageBox" 
            hint="EngageBox" 
            label="COM_RSTBOX_GA_CATEGORY"
            description="COM_RSTBOX_GA_CATEGORY_DESC"
            showon="gaTrack:1"
        />
        <field name="gaBlockEnd" type="nr_block" 
            end="1"
        />
    </fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC" >
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_rstbox"
			section="component" />
	</fieldset>
</config>